:root {
  /* ## Colors */

  /* ### Primary */
  --Blue-color: hsl(223, 87%, 63%);
  /* ### Secondary */
  --Pale-Blue-color: hsl(223, 100%, 88%);
  --Light-Red-color: hsl(354, 100%, 66%);
  /* ### Neutral */
  --Gray-color: hsl(0, 0%, 59%);
  --Very-Dark-Blue-color: hsl(209, 33%, 12%);

  font-family: "Libre Franklin", sans-serif;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

.container {
  /* background-color: aquamarine; */
  width: 350px;
  padding: 30px;
}
.container__logo {
  display: block;
  margin: 0px auto;
  padding-top: 30px;
}
.container__titulo {
  margin: 10px 0px;
  text-align: center;
  font-weight: 300;
  font-size: 1.5rem;
  color: var(--Gray-color);
}

.container__titulo--strong {
  color: black;
}
.container__p {
  margin: 10px 0px;
  text-align: center;
}
.container__login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 10px 0px;
}
.container__email {
  width: 100%;
  height: 35px;
  padding-left: 20px;
  border: 1px solid var(--Pale-Blue-color);
  border-radius: 15px;
  outline: none;
}
.container__btn {
  background: var(--Blue-color);
  width: 100%;
  height: 35px;
  border: none;
  border-radius: 15px;
  color: white;
  transition: transform .5s ease;
}
.container__btn:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.container__btn:focus {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  outline: none;

  
}

.container__img img {
  display: block;
  width: 100%;
  margin: 0px auto;
}

.redes {
  display: flex;
  justify-content: center;
  gap: 15px;
  width: 100%;
  height: 30px;
  margin: 10px 0px;
}

.social {
  width: 30px;
  height: 30px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.redes--tw {
  background-image: url(/images/Facebook.png);
}
.redes--fc {
  background-image: url(/images/Twitter.png);
}
.redes--inst {
  background-image: url(/images/Instagram.png);
}

.footer {
  margin: 10px 0px;
  text-align: center;
}

@media (width >=450px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 600px;
    height: 100%;
    padding: 0px 30px;
  }

  .container__login {
    flex-direction: row;
  }

  .container__email {
    width: 60%;
  }

  .container__btn {
    width: 40%;
  }
}

.hidden {
  display: none;
}

.error {
  color: var(--Light-Red-color);
  font-size: 0.8rem;
  font-weight: 600;
  text-align: center;
}
